/* ==============================================
    ABOUT PAGE
=============================================== */
#about {
    background-color: var(--colorTwo);
    color: var(--colorOne);
    padding: 3rem 0;
}

/* ---------- WHAT WE DO ---------- */
#whatWeDo {
    background-color: var(--colorOne);
    color: var(--colorThree);
    padding: 3rem 0;
}

#whatWeDo .container .whatWeWrap .doBox {
    margin: 1rem;
    padding: 1rem;
}

#whatWeDo .container .whatWeWrap .doBox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* ---------- MEET THE THEAM ---------- */
#team {
    background-color: var(--colorFive);
    color: var(--colorOne);
    padding: 3rem 0;
}

#team .container .teamWrap .teamMember {
    margin: 1rem;
    padding: 1rem;
    text-align: left;
}

#team .container .teamWrap .teamMember img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 50%;
}

/* ==============================================
    MEDIA 
=============================================== */
@media (min-width: 768px) {
    /* ---------- WHAT WE DO ---------- */
    #whatWeDo .container .whatWeWrap {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    #whatWeDo .container .whatWeWrap .doBox {
        flex: 1;
    }

    /* ---------- MEET THE TEAM ---------- */
    #team .container .teamWrap {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

}