/* ==============================================
    About
=============================================== */
.about {
    color: var(--colorOne);
    padding: 3rem 0;
}

.about h2 {
    font-size: 3rem;
}

.about img {
    display: block;
    margin: 1.5rem auto;
    width: 50%;
}

/* What We Do ----------------------------------------- */
.whatWeDo {
    margin-top: 3rem;
}

.whatWeDo h2 {
    font-size: 3rem;
}

.whatWeDo .doBox {
    padding: 1rem;
}

/* Why Us ---------------------------------- */
.whyUs {
    background-color: var(--colorOne);
    color: var(--colorThree);
    padding: 3rem 0;
}

.whyUs h2 {
    font-size: 3rem;
}

.whyUs p {
    margin-bottom: 3rem;
}

.whyUs .whyUsBoxes {
    margin: 1rem 0.8rem;
}

.whyUs .whyUsBoxes i {
    color: var(--colorTwo);
}

/* About Page / Meet The Team ------------------------ */
.team {
    background-color: var(--colorThree);
    color: var(--colorOne);
    padding: 3rem 0;
}

.team  h2 {
    font-size: 3rem;
}

.team .member img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
    padding: 1rem;
}

.team .member p {
    font-style: oblique;
}

.team .member a {
    margin-bottom: 2rem;
}