/* ==============================================
    Blog
=============================================== */
#blog {
    background-color: var(--colorFive);
    color: var(--colorThree);
    padding: 3rem 0;
}


#blog .container .blogWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blog .container .blogWrap .blogBox {
    background-color: var(--colorThree);
    color: var(--colorOne);
    margin: 1rem;
    display: block;
}

/* ---------- Pagination ---------- */
.pagination {
    width: 100%;
}

.pagination h4 {
    display: inline-block;
}





/* ==============================================
    Blog - Tablet Mode
=============================================== */
@media (min-width: 768px) {
    #blog .container .blogWrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #blog .container .blogWrap .blogBox {
        max-width: 300px;
    }

}