/* ==============================================
    CONTACT
=============================================== */
#contact {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--colorTransparent);
    color: var(--colorThree);
    padding: 3rem 0;
}

#contact:before {
    content: ' ';
    background: url('/img/showcase-3.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#contact .container h2 {  
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
}

/* ------------------------------------ */
#contact .container .contactWrap .contactInfo {
    margin-bottom: 2rem;
}

#contact .container .contactWrap .contactInfo div {
    text-align: left;
    padding: 0.5rem;
}

#contact .container .contactWrap .contactInfo i {
    padding: 0.5rem;
}

#contact .container .contactWrap .contactForm {
    margin: 0 0.5rem;
}

#contact .container .contactWrap .contactForm .formBox {
    width: 100%;
    margin-bottom: 1rem;
    background: #000;
    color: #fff;
    border: none;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 0 1px 3px rgb(255, 183, 0);
    opacity: 0.9;
}

#contact .container .contactWrap .contactForm textarea {
    width: 100%;
    background: black;
    color: #fff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 0 1px 3px rgb(255, 183, 0);
    margin-bottom: 1rem;
    opacity: 0.9;
}

/* ==============================================
    Contact - Tablet Mode
=============================================== */
@media (min-width: 768px) {
    #contact .container .contactWrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #contact .container p {
        margin-bottom: 3rem;
    }

    #contact .container .contactWrap .contactInfo {
        max-width: 200px;
    }
    #contact .container .contactWrap .contactForm {
        max-width: 450px;
    }
}