/* ==============================================
    Footer
=============================================== */
.footer {
    background-color: var(--colorOne);
    color: var(--colorThree);
    padding: 2rem 0; 
}