/* ==============================================
    Footer
=============================================== */
#footer {
    background-color: var(--colorOne);
    color: var(--colorThree);
    font-size: 0.7rem;
}

#footer .footerWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

#footer .footerWrap .footerBox {
    padding: 2rem;
    flex: 1;
    border-bottom: 5px solid rgba(255, 255, 255, 0.01);
}

#footer .footerWrap .footerBox:last-child {
    border-bottom: none;
}

#footer .footerWrap .footerBox ul li {
    margin: 0.5rem 0;
}

#footer .footerWrap .footerBox ul li i {
    margin-right: 0.5rem;
}

#footer .footerWrap .footerBox ul li a:hover {
    color: var(--colorTwo);
    border-bottom: 2px solid var(--colorTwo);
}

#footer .social {
    border-top: 5px solid rgba(255, 255, 255, 0.01);
    border-bottom: 5px solid rgba(255, 255, 255, 0.01);
}

#footer .social ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer .social ul li {
    padding: 0.5rem;
    margin: 1rem 0;
}

#footer .social ul li i:hover {
    color: var(--colorTwo);
}

#footer p {
    padding: 1rem;
}



/* ==============================================
    Media
=============================================== */
@media (min-width: 768px) {
    #footer .footerWrap {
        flex-direction: row;
    }
    
    #footer .footerWrap .footerBox {
        border-right: 5px solid rgba(255, 255, 255, 0.01);
    }
    
    #footer .footerWrap .footerBox {
        border-bottom: none;
    }
}

