/* ==============================================
    Logo And Navigatio
=============================================== */
/* .header {
    background-color: var(--colorOne);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--colorThree);
    padding: 0.5rem;
}

.header .logo h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.header .logo img {
    width: 45px;
    height: 45px;
}

.header .nav {
    margin-right: 1rem;
    visibility: hidden;
}

.header .nav .navList {
    padding: 0.5rem 1rem;
}

.header .nav .navList:hover {
    border-bottom: 3px solid var(--colorTwo);
    color: var(--colorTwo);
} */

/* Tablet ------------------------------------------ */
/* @media screen and (min-width: 500px) {
    .header .nav {
        visibility: visible;
    }
} */


nav{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    transition: 0.6s;
}

nav.sticky{
    background: var(--colorOne);
    /* padding: 15px 100px; */
}

nav .brand {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--colorThree);
    padding: 0.5rem;
}

nav .brand img {
    width: 100%;
    height: 100%;
}

nav .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu a {
    color: var(--colorThree);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    transition-property: color, background;
}

nav .menu a:hover {
    color: var(--colorTwo);
    border-bottom: 3px solid var(--colorTwo);
    transition: 0.15s;
    transition-property: all;
}

nav .btn {
    color: var(--colorThree);
    cursor: pointer;
    display: none;
}

/* Tablet view ----------------------------- */
@media (max-width: 1024px){
    nav .btn{
        display: block;
    }

    nav .menu{
        position: fixed;
        background: var(--colorOne);
        flex-direction: column;
        justify-content: flex-start;
        width: 50vw;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 5rem 3rem;
        transition: 0.5s;
        transition-property: right;
        z-index: 9999;
    }

    nav .menu.active{
        right: 0;
    }

    nav .menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 3rem;
    }

    nav .menu a{
        display: block;
        font-size: 1rem;
        margin: 1rem;
        padding: 0 1rem;
    }
}

/* mobile view ----------------------------- */
@media (max-width: 600px){
  nav .brand h2 {
      display: none;
  }

  nav .menu{
    position: fixed;
    background: var(--colorOne);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -120%;
    padding: 5rem 3rem;
    transition: 0.5s;
    transition-property: right;
  }
}
      




























