/* ==============================================
    Post
=============================================== */
#post {
    
}

.article {
    color: var(--colorOne);
    padding: 3rem 0;
}
.article h1 {
    font-size: 2rem;
}

.article .leadP {
    font-weight: bold;
}

.article h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
}

.article p {
    text-align: left;
    margin: 0.5rem 0.5rem;
}

.article img {
    max-width: 100%;
    margin: 0.5rem 0;
}

.article ul {
    text-align: left;
    list-style: square;
    margin: 1rem 3rem;
}

/* ---------- BREADCRUMPS ---------- */
.article .breadcrumbs {
    border-top: 1px solid var(--colorOne);
    border-bottom: 1px solid var(--colorOne);
    text-align: left;
    font-size: 0.8rem;
    padding: 0.3rem;
}

.article .breadcrumbs span {
    margin-left: 0.1rem;
    padding: 0.3rem;
    background-color: var(--colorOne);
    color: var(--colorThree);
}

.article .breadcrumbs a {
    color: var(--colorThree);
}

.article .breadcrumbs a:hover {
    color: var(--colorTwo);
}

/* ---------- TAGS ---------- */
.article .tags {
    margin-top: 2rem;
    text-align: left;
    padding: 0.5rem;
}

.article .tags span a {
    color: var(--colorOne);
}

/* ---------- CREDITS ---------- */
.article .credits {
    text-align: left;
    padding: 0.5rem;
}

.article .credits a {
    color: var(--colorOne);
    text-decoration: underline;
}

/* ==============================================
    SIDEBAR
=============================================== */
.sidebar {
    background-color: whitesmoke;
    padding: 2rem 0;
}

.sidebar .sideCat {
    margin: 0;
    padding: 1rem;
}

.sidebar .sideCat li {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid white;
}

.sidebar .sideCat li:hover {
    background-color: var(--colorFive);
    color: var(--colorThree);
    transition: all 1s ease;
}

.sidebar .sideCat li a {
    color: var(--colorOne);
}

.sidebar .sideBlog {
    display: block;
    margin: 1rem 0.5rem;
    background-color: var(--colorFive);
}

.sidebar h3 {
    margin-top: 3rem;
}





/* ==============================================
    POST / TABLET-MODE
=============================================== */
@media (min-width: 768px) {
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex .article {
        flex: 3;
    }

    .flex .sidebar {
        flex: 1;
   
    }
}

