/* ==============================================
    Post
=============================================== */
.post {
    padding: 1rem 0;
}
.post .articleWrap {
    margin-bottom: 3rem;
}
.post .articleWrap .article h1 {
    font-size: 2rem;
}

.post .articleWrap .article .leadP {
    font-weight: bold;
}

.post .articleWrap .article h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
}

.post .articleWrap .article p {
    text-align: left;
    margin: 0.5rem 0.5rem;
}

.post .articleWrap .article img {
    max-width: 500px;
    margin: 0.5rem 0;
}

.post .articleWrap .article ul {
    text-align: left;
    list-style: square;
    margin: 1rem 1.5rem;
}

/* Breadcrumps ------------------------------- */
.post .articleWrap .article .breadcrumbs {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: left;
    font-size: 0.8rem;
    padding: 0.3rem;
}

.post .articleWrap .article .breadcrumbs span {
    margin-left: 0.1rem;
    padding: 0.3rem;
    background-color: var(--colorOne);
    color: var(--colorThree);
}

.post .articleWrap .article .breadcrumbs a {
    color: var(--colorThree);
}

.post .articleWrap .article .breadcrumbs a:hover {
    color: var(--colorTwo);
}

/* Credits --------------------------------- */
.post .articleWrap .article .credits {
    margin-top: 3rem;
    list-style: none;
    color: var(--colorOne);
}

.post .articleWrap .article .credits a {
    color: var(--colorOne);
}

/* ==============================================
    Sidebar
=============================================== */
.post .sideBar {
    padding: 2rem 1rem;
    background-color: var(--colorTransparent1);
}

.post .sideBar h2 { 
    padding: 2rem 0 1rem 0;
}

/* Sidebar Boxes ----------------------------- */
.post .sideBar .relatedBlogs1,
.post .sideBar .relatedBlogs2,
.post .sideBar .relatedBlogs3,
.post .sideBar .mostPopular1,
.post .sideBar .mostPopular2,
.post .sideBar .mostPopular3 {
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    margin-bottom: 1rem;
}

.post .sideBar .relatedBlogs1 h4,
.post .sideBar .relatedBlogs2 h4,
.post .sideBar .relatedBlogs3 h4,
.post .sideBar .mostPopular1 h4,
.post .sideBar .mostPopular2 h4,
.post .sideBar .mostPopular3 h4 { 
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    background-color: var(--colorThree);
    color: var(--colorOne);
    padding: 0.1rem 0.2rem;
}

/* Related Post -------------------------------- */
.post .sideBar .relatedBlogs1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/img/bg-1.jpg') no-repeat center center/cover;
}

.post .sideBar .relatedBlogs2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/img/bg-2.jpg') no-repeat center center/cover;
}

.post .sideBar .relatedBlogs3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/img/bg-3.jpg') no-repeat center center/cover;
}
   
/* Most Popular ---------------------------------- */
.post .sideBar .mostPopular1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/img/bg-4.jpg') no-repeat center center/cover;
}

.post .sideBar .mostPopular2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/img/bg-5.jpg') no-repeat center center/cover;
}

.post .sideBar .mostPopular3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('/img/bg-1.jpg') no-repeat center center/cover;
}

/* Sidebar Categories ------------------------------ */
.post .sideBar a {
    display: block;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
}

.post .sideBar a:hover {
    color: var(--colorTwo);
}

