/* ==============================================
    Pricing
=============================================== */
.pricing {
    background-color: var(--colorTransparent1);
    color: var(--colorOne);
    padding: 3rem 0;
    font-size: 0.85rem;
}

.pricing h2 {
    font-size: 3rem;
    line-height: 1;
}

.pricing i {
    width: 100%;
    margin-top: 3rem;
}

.pricing a {
    margin: 3rem 0;
}


/* Pricing Page ------------------------------------- */
.pricing .table {
    width: 100%;
    margin: 3rem 0;
}

.pricing .table1, th, td {
    border: 1px solid var(--colorThree);
    padding: 0.5rem;
}