/* ==============================================
    Pricing
=============================================== */
#pricing {
    background-color: var(--colorFive);
    color: var(--colorOne);
    padding: 3rem 0;
    font-size: 0.85rem;
}

/* Pricing Page ------------------------------------- */
#pricing  .container .table {
    width: 100%;
    margin: 3rem 0;
}

#pricing  .container .table .brb {
    color: var(--colorThree);
}

#pricing .container .table1, th, td {
    border: 1px solid var(--colorThree);
    padding: 0.5rem;
}

/* ==============================================
    Pricing - Tablet Mode
=============================================== */