.showCase {
    position: relative;
    height: 90vh;
    background-color: var(--colorTransparent);
    color: var(--colorThree);
}

.content {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showCase .content h1 {
    font-size: 4rem;
    line-height: 1;
}

.showCase:before {
    content: '';
    background: url('/img/bg-4.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Showcase On Pages ----------------------------------------- */
.showCase-smal {
    position: relative;
    height: 50vh;
    background-color: var(--colorTransparent);
    color: var(--colorThree);
}

.showCase-smal .content h1 {
    font-size: 3rem;
    line-height: 1;
}

.showCase-smal:before {
    content: '';
    background: url('/img/bg-4.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}