/* ==============================================
    Root
=============================================== */
:root {
    --colorOne: rgb(4,6,34);
    --colorTransparent: rgba(4,6,34,0.7);
    --colorTransparent1: rgba(4,6,34,0.1);
    --colorTwo: rgb(255,174,25);
    --colorThree: rgb(255, 255, 255);
    --colorFour: rgb(43,51,93);
    --colorFive:rgb(175,195,255);
}



/* ==============================================
    Css Reset
=============================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ==============================================
    Core
=============================================== */
html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    text-align: center;
}

ul,
ol {
    list-style: none;
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: var(--colorThree);
}

img {
    width: 100%;
}

p {
    margin: 0 1rem 1rem 1rem;
}

h1, h2, h3 {
    margin: 1rem;
}

h4, h5, h6 {
    margin: 0.5rem;
}

hr {
    opacity: 0.1;
}



/* ==============================================
    Utilities
=============================================== */
.wrapper {
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}

.filler {
    width: 100%;
    height: 85px;
}
.container {
    max-width: 1200px;
    margin: auto;
}

.special {
    color: var(--colorTwo);
}

.special-1 {
    color: var(--colorThree);
}

.special-2 {
    color: var(--colorOne);
}

.special-3 {
    color: var(--colorFive);
}

.hLead-1 {
    font-size: 2.5rem;
}

.pLead {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
}

.btn-light {
    background-color: var(--colorTwo);
    color: var(--colorThree);
}

.btn-dark {
    background-color: var(--colorOne);
    color: var(--colorThree);
}

.btn-special {
    background-color: var(--colorTransparent1);
    color: var(--colorOne);
}





/* ==============================================
    Logo And Navigatio
=============================================== */
nav {
    z-index: 999;
    /* position: fixed; ORGINAL */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    transition: 0.6s;
    /* Nema plava pozadina na ORGINAL */
    background-color: var(--colorOne);
}

nav.sticky {
    background: var(--colorOne);
    /* padding: 15px 100px; */
}

nav .brand {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--colorThree);
    padding: 0.5rem;
    margin-left: 1rem;
}

nav .brand img {
    width: 100%;
    height: 100%;
}

nav .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu a {
    color: var(--colorThree);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    transition-property: color, background;
}

nav .menu a:hover {
    color: var(--colorTwo);
    border-bottom: 3px solid var(--colorTwo);
    transition: 0.15s;
    transition-property: all;
}

nav .btn {
    color: var(--colorThree);
    cursor: pointer;
    display: none;
}



/* ========== MEDIA VIEW / MENU ========== */

/* ========== TABLET VIEW ========== */
@media (max-width: 1024px){
    nav .btn{
        display: block;
    }

    nav .menu {
        position: fixed;
        background: var(--colorOne);
        flex-direction: column;
        justify-content: flex-start;
        width: 30vw;
        height: 100vh;
        top: 0;
        right: -100%;
        transition: 0.5s;
        transition-property: right;
        z-index: 9999;
    }

    nav .menu.active {
        right: 0;
    }

    nav .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 3rem;
    }

    nav .menu a{
        display: block;
        font-size: 1rem;
        margin: 1rem;
        padding: 0 1rem;
    }
}

/* ========== MOBILE VIEW ========== */
@media (max-width: 600px) {
    nav .brand img {
        display: none;
    }

    nav .brand h2 {
        font-size: 1.5rem;
    }

    nav .menu {
        position: fixed;
        background: var(--colorOne);
        flex-direction: column;
        width: 70vw;
        height: 100vh;
        top: 0;
        right: -120%;
        padding: 5rem 3rem;
        transition: 0.5s;
        transition-property: right;
    }

    nav .btn {
        font-size: 0.7rem;
    }
}




      
/* ==============================================
    Showcases
=============================================== */

/* ========== MAIN SHOWCASE ========== */
#showCase .showCaseWrap {
    padding: 2rem 0;
}

#showCase .showCaseWrap .showcaseBox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#showCase .showCaseWrap .showcaseBox h1 {
    background-color: var(--colorOne);
    color: var(--colorThree);
    font-size: 2rem;
}






/* ==============================================
    MEDIA 
=============================================== */

/* ========== SHOWCASE TABLET VIEW ========== */
@media (min-width: 768px) {

    #showCase .showCaseWrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    
    #showCase .showCaseWrap .showcaseBox {
        flex: 1;
    }

    #showCase .showCaseWrap .showcaseBox h1 {
        font-size: 2rem;
    }
}

/* ========== SHOWCASE COM VIEW ========== */
@media (min-width: 1024px) {
    #showCase .showCaseWrap .showcaseBox h1 {
        font-size: 2.8rem;
    }
}








/* ==============================================
    Reveals Elements With JavaScript
=============================================== */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}










