/* ==============================================
    Root
=============================================== */
:root {
  --colorOne: rgb(4, 6, 34);
  --colorTransparent: rgba(4, 6, 34, 0.9);
  --colorTwo: rgb(255, 174, 25);
  --colorThree: rgb(255, 255, 255);
  --colorFour: rgb(43, 51, 93);
  --colorFive: rgb(175, 195, 255);
}

/* ==============================================
    Css Reset
=============================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==============================================
    Core
=============================================== */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--colorThree);
}

img {
  width: 100%;
}

p {
  margin: 0 1rem 1rem 1rem;
}

h1,
h2,
h3 {
  margin: 1rem;
}

h4,
h5,
h6 {
  margin: 0.5rem;
}

hr {
  opacity: 0.1;
}

::selection {
  background-color: var(--colorTwo);
  color: var(--colorThree);
}

/* ==============================================
    Utilities
=============================================== */
.wrapper {
  max-width: 2000px;
  margin: auto;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.filler {
  width: 100%;
  height: 85px;
}

.special {
  color: var(--colorTwo);
}

.special-1 {
  color: var(--colorThree);
}

.special-2 {
  color: var(--colorOne);
}

.special-3 {
  color: var(--colorFive);
}

.hLead-1 {
  font-size: 2.5rem;
}

.pLead {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}

.btn-light {
  background-color: var(--colorTwo);
  color: var(--colorThree);
}

.btn-dark {
  background-color: var(--colorOne);
  color: var(--colorThree);
}

.btn-special {
  background-color: var(--colorTransparent1);
  color: var(--colorOne);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-box {
  margin: 3rem 1rem;
  flex: 1;
}

/* ==============================================
    Logo And Navigatio
=============================================== */
nav {
  z-index: 999;
  /* position: fixed; ORGINAL */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  transition: 0.6s;
  /* Nema plava pozadina na ORGINAL */
  background-color: var(--colorOne);
}

nav.sticky {
  background: var(--colorOne);
  /* padding: 15px 100px; */
}

nav .brand {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--colorThree);
  padding: 0.5rem;
  margin-left: 1rem;
}

nav .brand img {
  width: 100%;
  height: 100%;
}

nav .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .menu a {
  color: var(--colorThree);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  transition-property: color, background;
}

nav .menu a:hover {
  color: var(--colorTwo);
  border-bottom: 3px solid var(--colorTwo);
  transition: 0.15s;
  transition-property: all;
}

nav .btn {
  color: var(--colorThree);
  cursor: pointer;
  display: none;
}

/* ========== MEDIA VIEW / MENU ========== */

/* ========== TABLET VIEW ========== */
@media (max-width: 1024px) {
  nav .btn {
    display: block;
    max-width: 100px;
  }

  nav .menu {
    position: fixed;
    background: var(--colorOne);
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
    height: 100vh;
    top: 0;
    right: -100%;
    transition: 0.5s;
    transition-property: right;
    z-index: 9999;
  }

  nav .menu.active {
    right: 0;
  }

  nav .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3rem;
    width: 20px;
  }

  nav .menu a {
    display: block;
    font-size: 1rem;
    margin: 1rem;
    padding: 0 1rem;
  }
}

/* ========== MOBILE VIEW ========== */
@media (max-width: 600px) {
  nav .brand img {
    display: none;
  }

  nav .brand h2 {
    font-size: 1.5rem;
  }

  nav .menu {
    position: fixed;
    background: var(--colorOne);
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    top: 0;
    right: -120%;
    padding: 5rem 3rem;
    transition: 0.5s;
    transition-property: right;
  }

  nav .menu-btn {
    min-width: 30px;
  }

  nav .btn {
    font-size: 0.7rem;
  }
}

/* ==============================================
    SHOWCASE 
=============================================== */

/* ========== MAIN SHOWCASE ========== */
#showCase .showCaseWrap {
  padding: 2rem 0;
}

#showCase .showCaseWrap .showcaseBox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

#showCase .showCaseWrap .showcaseBox h1 {
  background-color: var(--colorOne);
  color: var(--colorThree);
  font-size: 2rem;
}

/* ==============================================
    HOME PAGE / INFO
=============================================== */

/* ========== ABOUT ==========- */
#infoAbout {
  background-color: var(--colorOne);
  color: var(--colorThree);
  padding: 3rem 0;
}

/* ========== WHAT WE DO ========== */
#infoWhat {
  background-color: var(--colorFive);
  color: var(--colorOne);
  padding: 3rem 0;
}

#infoWhat .container .infoWrapBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

#infoWhat .container .infoWrapBox .infoBox {
  background-color: var(--colorFour);
  color: var(--colorThree);
  padding: 2rem;
  margin: 1rem;
  flex: 1;
}

#infoWhat .container .infoWrapBox .infoBox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: auto;
}

/* ========== PROJECT ========== */
#infoProject {
  background-color: var(--colorTwo);
  color: var(--colorThree);
  padding: 3rem 0;
}

#infoProject .container .infoProjectWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#infoProject .container .infoProjectWrap .infoProjectBox1,
#infoProject .container .infoProjectWrap .infoProjectBox2 {
  padding: 1rem;
  margin: 1rem;
}

#infoProject .container .infoProjectWrap .infoProjectBox1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: auto;
}

/* ========== WHY US ========== */
#infoWhyUs {
  background-color: var(--colorOne);
  color: var(--colorThree);
  padding: 3rem 0;
}

#infoWhyUs .container .infoWhyUsWrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

#infoWhyUs .container .infoWhyUsWrap .infoWhyUsBox {
  background-color: var(--colorFour);
  padding: 2rem;
  margin: 1rem;
  flex: 1;
}

#infoWhyUs .container .infoWhyUsWrap .infoWhyUsBox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: auto;
}

/* ========== PORTFOLIO ========== */
#infoPortfolio {
  padding: 3rem 0;
  color: var(--colorOne);
}

#infoPortfolio .container .infoPortfolioBox1,
#infoPortfolio .container .infoPortfolioBox2 {
  padding: 1rem;
  margin: 1rem;
}

#infoPortfolio .container .infoPortfolioBox1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: auto;
}

/* ========== PRICING ========== */
#infoPricing {
  background-color: var(--colorFour);
  color: var(--colorThree);
  padding: 3rem 0;
}

#infoPricing .infoPricingWrap .pb-,
#infoPricing .infoPricingWrap .pb-2 {
  padding: 1rem;
  margin: 1rem;
}

#infoPricing .infoPricingWrap .pb-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: auto;
}

/* ========== TESTIMONIALS ========== */
#testimonials {
  color: var(--colorOne);
  padding: 3rem 0;
}

#testimonials .testi {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 1rem;
}

#testimonials .testi .testi-box {
  border-radius: 1rem;
  box-shadow: -0px 1px 7px 0px lightgray;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

#testimonials .testi .testi-box img {
  width: 30px;
  height: 30px;
}

#testimonials .testi .testi-box p {
  font-style: italic;
  font-size: small;
  padding-top: 0.5rem;
}

#testimonials .testi-box .testi-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#testimonials .testi-box .testi-1 img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1rem;
}

#testimonials .testi .testi-box .testi-1 h4 {
  margin-left: 1rem;
}

/* ========== BLOG ========== */
#infoBlog {
  background-color: var(--colorFive);
  color: var(--colorThree);
  padding: 3rem 0;
}

#infoBlog .container .infoBlogWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#infoBlog .container .infoBlogWrap .infoBlogBox {
  background-color: var(--colorThree);
  color: var(--colorOne);
  margin: 1rem;
}

/* ========== CONTACT ========== */
#infoContact {
  background-color: var(--colorTwo);
  color: var(--colorThree);
  padding: 3rem 0;
}

/* ==============================================
    ABOUT PAGE
=============================================== */
#about {
  background-color: var(--colorTwo);
  color: var(--colorOne);
  padding: 3rem 0;
}

/* ========== ABOU PAGE | WHAT WE DO ========== */
#whatWeDo {
  background-color: var(--colorOne);
  color: var(--colorThree);
  padding: 3rem 0;
}

#whatWeDo .container .whatWeWrap .doBox {
  margin: 1rem;
  padding: 1rem;
}

#whatWeDo .container .whatWeWrap .doBox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: auto;
}

/* ========== ABOU PAGE | MEET THE TEAM ========== */
#team {
  background-color: var(--colorFive);
  color: var(--colorOne);
  padding: 3rem 0;
}

#team .container h2 {
  margin-bottom: 3rem;
}

#team .container .teamWrap .teamMember {
  background-color: var(--colorThree);
  color: var(--colorOne);
  margin: 2rem auto;
  text-align: left;
  width: 300px;
  padding-bottom: 2rem;
  font-size: 0.7rem;
}

#team .container .teamWrap .teamMember ul {
  list-style: square;
  margin-left: 2rem;
}

#team .container .teamWrap .teamMember ul li {
  padding: 0.1rem;
}

#team .container .teamWrap .teamMember img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  width: 100%;
  height: 300px;
}

/* ==============================================
    PRICING PAGE
=============================================== */
#p {
  background-color: var(--colorOne);
  color: var(--colorThree);
  padding: 3rem 0;
}

.pricing-card {
  max-width: 350px;
  background-color: var(--colorThree);
  cursor: pointer;
  overflow: hidden;
  color: var(--colorOne);
  transition: 0.3s linear;
  margin: 3rem auto;
  position: relative;
  height: 580px;
}

.pricing-card-header {
  background-color: #0fbcf9;
  display: inline-block;
  color: var(--colorThree);
  font-size: 0.8rem;
  padding: 0.8rem 1.9rem;
  border-radius: 0 0 20px 20px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s linear;
}

.pricing-card:hover .pricing-card-header {
  box-shadow: 0 0 0 31em #0fbcf9;
}

.pricing-card-header:hover {
  background-color: var(--colorTwo);
}

.price {
  font-size: 3rem;
  color: #0fbcf9;
  margin: 1.2rem 0;
  transition: 0.2s linear;
}

.price sup,
.price span {
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover,
.pricing-card:hover .price {
  color: var(--colorThree);
}

.pricing-card li {
  padding: 0.2rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.pricing-card li a {
  color: inherit;
}

.order-btn {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
}

.order-btn:hover {
  background-color: #0fbcf9;
  color: var(--colorThree);
}

/* ========== PRICING | DESCRIPTION ========== */
#basic,
#professional,
#premium,
#ultimate {
  color: var(--colorOne);
  padding: 3rem 0;
}

/* ==============================================
    PORTFOLIO PAGE
=============================================== */
#portfolio {
  color: var(--colorOne);
  padding: 3rem 0;
}

.portfolio-sites-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-sites {
  position: relative;
  width: 350px;
  margin: 1rem;
}

.image {
  display: block;
  width: 100%;
  height: 350px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* TOP */
.overlay-1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--colorOne);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.portfolio-sites:hover .overlay-1 {
  bottom: 0;
  height: 100%;
}

/* BOTTOM */
.overlay-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--colorTwo);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.portfolio-sites:hover .overlay-2 {
  height: 100%;
}

/* LEFT */
.overlay-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--colorOne);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.portfolio-sites:hover .overlay-3 {
  width: 100%;
}

/* RIGHT */
.overlay-4 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: var(--colorTwo);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.portfolio-sites:hover .overlay-4 {
  width: 100%;
  left: 0;
}

/* ==============================================
    CONTACT ALL
=============================================== */
#contact {
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--colorTransparent);
  color: var(--colorThree);
  padding: 3rem 0;
}

#contact:before {
  content: " ";
  background: url("/img/contact-background-1.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#contact .container h2 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem;
}

/* --- CONTACT INFO --- */
#contact .container .contactWrap .contactInfo {
  margin-bottom: 2rem;
}

#contact .container .contactWrap .contactInfo div {
  text-align: left;
  padding: 0.5rem;
}

#contact .container .contactWrap .contactInfo img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

#contact .container .contactWrap .contactInfo .social {
  margin-top: 1rem;
}

#contact .container .contactWrap .contactInfo .social ul {
  display: flex;
  margin-left: 1rem;
}

#contact .container .contactWrap .contactInfo .social img {
  width: 30px;
  height: 30px;
}

/* --- CONTACT FORM --- */
#contact .container .contactWrap .contactForm {
  margin: 0 0.5rem;
}

#contact .container .contactWrap .contactForm .formBox {
  width: 100%;
  margin-bottom: 1rem;
  background: #000;
  color: #fff;
  border: none;
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgb(255, 183, 0);
  opacity: 0.9;
}

#contact .container .contactWrap .contactForm textarea {
  width: 100%;
  background: black;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgb(255, 183, 0);
  margin-bottom: 1rem;
  opacity: 0.9;
}

/* ==============================================
    BLOG PAGE
=============================================== */
#blog {
  background-color: var(--colorFive);
  color: var(--colorThree);
  padding: 3rem 0;
}

/* ========== DROPDOWN ========== */
/* Dropdown Button */
.dropbtn {
  background-color: var(--colorOne);
  color: var(--colorThree);
  padding: 1rem 2rem;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--colorTransparent);
}

#blog .container .blogWrap .blogBox {
  background-color: var(--colorThree);
  color: var(--colorOne);
  margin: 1rem;
  display: block;
}

/* ========== PAGINATION ========== */
.pagination {
  width: 100%;
}

.pagination h4 {
  display: inline-block;
}

/* ==============================================
    POST PAGE
=============================================== */
/* #post {
    
} */

.article {
  color: var(--colorOne);
  padding: 3rem 0;
}
.article h1 {
  font-size: 2rem;
}

.article .leadP {
  font-weight: bold;
}

.article h2 {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.article p {
  text-align: left;
  margin: 0.5rem 0.5rem;
}

.article img {
  max-width: 100%;
  margin: 0.5rem 0;
}

.article ul {
  text-align: left;
  list-style: square;
  margin: 1rem 3rem;
}

/* ========== BREADCRUMPS ========== */
.article .breadcrumbs {
  border-top: 1px solid var(--colorOne);
  border-bottom: 1px solid var(--colorOne);
  text-align: left;
  font-size: 0.8rem;
  padding: 0.3rem;
}

.article .breadcrumbs span {
  margin-left: 0.1rem;
  padding: 0.3rem;
  background-color: var(--colorOne);
  color: var(--colorThree);
}

.article .breadcrumbs a {
  color: var(--colorThree);
}

.article .breadcrumbs a:hover {
  color: var(--colorTwo);
}

/* ========== TAGS ========== */
.article .tags {
  margin-top: 2rem;
  text-align: left;
  padding: 0.5rem;
}

.article .tags span a {
  color: var(--colorOne);
}

/* ========== CREDITS ========== */
.article .credits {
  text-align: left;
  padding: 0.5rem;
}

.article .credits a {
  color: var(--colorOne);
  text-decoration: underline;
}

/* ==============================================
    SIDEBAR POST
=============================================== */
.sidebar {
  background-color: whitesmoke;
  padding: 2rem 0;
  margin: 0 1rem;
}

.sidebar .sideCat {
  margin: 0;
  padding: 1rem;
}

.sidebar .sideCat li {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid white;
}

.sidebar .sideCat li:hover {
  background-color: var(--colorFive);
  color: var(--colorThree);
  transition: all 1s ease;
}

.sidebar .sideCat li a {
  color: var(--colorOne);
}

.sidebar .sideBlog {
  display: block;
  background-color: var(--colorFive);
  margin: 2rem 0;
}

.sidebar h3 {
  margin: 3rem 0 3rem 0;
}

/* ==============================================
    FOOTER ALL
=============================================== */
#footer {
  background-color: var(--colorOne);
  color: var(--colorThree);
}

#footer .footerWrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

#footer .footerWrap .footerBox {
  padding: 2rem;
  flex: 1;
  border-bottom: 5px solid rgba(255, 255, 255, 0.01);
}

#footer .footerWrap .footerBox:last-child {
  border-bottom: none;
}

#footer .footerWrap .footerBox ul li {
  margin: 0.5rem 0;
}

#footer .footerWrap .footerBox ul li img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

#footer .footerWrap .footerBox ul li a:hover {
  color: var(--colorTwo);
  border-bottom: 2px solid var(--colorTwo);
}

#footer .social {
  border-top: 5px solid rgba(255, 255, 255, 0.01);
  border-bottom: 5px solid rgba(255, 255, 255, 0.01);
}

#footer .social ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer .social ul li {
  padding: 0.3rem;
  margin: 1rem 0;
}

#footer .social ul li img {
  width: 30px;
  height: 30px;
}

#footer p {
  padding: 1rem;
}

/* ==============================================
    Reveals Elements With JavaScript
=============================================== */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
